{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <title>UPDATE</title>
</head>
<body>
    {{data.name}} 
    {{data.email}}
    {{data.password}}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <label for="name">Name :</label>
        <input type="text" id="name" name="name" value="{{data.name}}" />
        <br />
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" value="{{data.email}}" />
        <br />
        <label for="pass">Password :</label>
        <input type="password" id="pass" name="password" value="{{data.password}}"  />
        <br />
        <button type="submit">Submit</button>
      </form>

</body>
</html>